.wrapper {
    width: 60%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif; /* 使用 Material-UI 字体 */
}

#input {
    width: 100%;
}

#log {
    height: 80vh;
    width: 100%;
    overflow: scroll;
    background-color: black;
    color: white;
    white-space: pre;
}

.hidden {
    display: none;
}